@media only screen and (max-width: 914px)  {
    .navbar{
        display: grid;
        grid-template-areas:
          'header header header header header menu'
          'main main main main main main';
    }

    .logo{
        grid-area: header;
    }

    nav{
        display: none;
        overflow: hidden;
    }

    nav ul li{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        padding: 5px;
    }

    .is-active{
        display: grid;
        grid-area: main;
    }

    .menu_bar{
        display: inline-block;
        cursor: pointer;
        padding: 25px;
        grid-area: menu;
    }

    .hero{
        grid-template-columns: auto;
    }
    .heroContent{
        text-align: center;
    }

    .services{
        height: 1250px;
    }
 

     .col-4{
        padding: 25px;
        flex-basis: 50%;
    } 

    .row{
        grid-template-columns: 100%;
      }

}